<% @tweet.comments.each do |tweet| %>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image">
          <%= image_tag User.all.find_by(id: tweet.user_id).avatar, class: "avatar-img"%>

        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <strong><%= User.all.find_by(id: tweet.user_id).name %></strong>
          <small>@<%= User.all.find_by(id: tweet.user_id).username %></small><br/>
          <p><%= tweet.body %></p>
        </div>
        <nav class="level">
  				<div class="level-left is-mobile">
            <% if user_signed_in? && current_user.id == tweet.user_id %>
            <nav class="level">
              <div class="level-left is-mobile">
                <!-- <%= link_to edit_tweet_path(tweet), class: "level-item" do %>
                  <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                <% end %> -->
                <%= link_to [comment.tweet,comment], method: :delete, data: { confirm: "Are you sure you want to delete this tweeet?" } do %>
                    <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                <% end %>
              </div>
            </nav>
            <% end %>
          </div>
        </nav>
      </div>
    </article>
  </div>
<% end %>